{% extends "lab_7/layout/base.html" %}

{% block content %}
    <section name="friend-list" id="friend-list">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-8">
                    <h2> friend Fasilkom</h2>
                    <div id="friend-list" class="list-group">

                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block javascript %}
    <script>
        $( document ).ready(function () {
            {# lengkapi pemanggilan ajax berikut untuk mengambil daftar teman yang ada di database #}
            $.ajax({
                method: "GET",
                url: "{% url 'lab-7:get-friend-list' %}", // update
                success: function (data) {
                    var teman = $.parseJSON(data);
                    console.log(teman);
                    if(teman == 0){
                        html = '<div class="class="alert alert-danger text-center">' +
                        '<strong>Opps!</strong> Tidak ada teman' +'</div>';
                        $("#friend-list").append(html);
                    }
                    else{
                        $.each(teman, function(index, item){
                            var nama = item.fields.friend_name;
                            var npm = item.fields.npm;
                            var id = item.pk;
                            //console.log(item.fields.friend_name);
                            html = '<a class="list-group-item clearfix" id = "teman">' +
                                nama + " " +"(" + npm + ")" + '<span class="pull-right">'  +
                                        '<a class="btn btn-xs btn-default" href="/lab-7/delete-friend/' + id + '">Hapus teman</a>' +
                                    '</span>' + '</a>';
                            $("#friend-list").append(html);
                        });
                    }


                    //tampilkan list teman ke halaman
                    //hint : gunakan fungsi jquery append()
                },
                error: function(error){
                    //tampilkan pesan error
                    alert("mahasiswa sudah pernah di add");
                }
            });
        });
        $("#deleteButton").click(function(){
            alert("terpencet");
            var element =  this;
            var id = $(this).data;
            console.log(id);
            $.ajax({
                        type: 'GET',
                        url: url,
                        success: function(){
                        // do what you want with 'element' var
                        },
                        error: function(){
                            alert("Error on delete, please try again");
                        },
            });
        });
    </script>
{% endblock %}
