body{
    padding-top:80px;
}

#title{
    text-align:center;
}
#des{
    text-align: center;
}
.decsription{
    padding-top: 50px;
}
#cover{
    display: block;
    margin: auto;
}
#properties{
    padding-right: 20px;
}
tr{
    padding-top:10px;
}
th{
    padding-top:10px;
}

#flex{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
#moviePoster{
    height: 200px;
    width: 150px;
    flex: 1 1 1;
    padding-right: 20px;
    padding-bottom: 10px;
    margin: auto;
}
